---
layout: default
---


<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

{{ content }}



<div class="container">
  <hr />
  <div class="row text-right">
    <div class="col card-btn-bottom">
      <a href="#" class="btn card-btn-pro">{{post.category}}</a>
      
    </div>
  </div>
</div>
      
<div class="row discussion-row">
    <div class="col-7">
      <div class="row new-discussion-row">
        <div class="col-3 text-center">
          <img src="{{site.baseurl}}/assets/images/newsample-person.png" alt="" />
          <p class="log-text">Log in with:</p>
          <div class="social">
            <span>
              <a class="comment-share" href="#" tartet="_blank"><img src="{{site.baseurl}}/assets/images/nav-share.png" alt="" /></a>
            </span>
            <span>
              <a class="comment-twitter" href="#" tartet="_blank"><img src="{{site.baseurl}}/assets/images/nav-twitter.png" alt="" /></a>
            </span>
            <span>
              <a class="comment-emailicon" href="#" target="_blank"><img src="{{site.baseurl}}/assets/images/nav-emailicon.png" alt="" /></a>
            </span>
          </div>
        </div>
        <div class="col">
          <form>
            <div class="form-group">
              <textarea class="form-control" id="discussion" placeholder="Start a discussion.."></textarea>
            </div>
            <button type="submit" class="btn post-submit">POST</button>
          </form>
        </div>
      </div>
    </div>
  </div>